.header-wrapper { 
    background-color: #694F5D;
    box-shadow: 50px;
  } 
.header-title {
    color: white;
}

.container-wrapper {
    background-color: white;
    height: 100%; margin: 0px; padding: 0px;
    font-family: 'Roboto';
}

.btn-css {
    background-color: #F87474 !important;
    border-radius: 25px !important;
    width: 70vw;
    margin: 1rem;
}

.title-css {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    border-radius: 25px;
    background-color: #FFF5E4;
    padding: 5px; 
    padding-top: 1rem;
    margin-top: 1rem;
}
#root {
    height: 100vh;
  }

.icon-css {
    vertical-align: middle;
}



    